* {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* -------------------------------- NavBar -------------------------------- */
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

header {
  padding: 15px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
  transition: all 0.5 ease-in-out;
}

#icon {
  width: 30px;
  cursor: pointer;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}

body {
  background-color: var(--primary-color);
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.tab {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background-color: grey;
}

.tab-content {
  padding: 30px;
  text-align: center;
}

* {
  color: var(--secondary-color);
}

.title {
  margin: 50px 0px;
}
